@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
}

html{
    font-size: 10px;
    /* font-size: 62.5%; */
}

/* ---------- header */
header{
    position: sticky;
    top:0;
    background: #fff;
    z-index: 10;
    /* border: 2px red solid; */
}

/* ----------- nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px green solid; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.logo
{
    font-size: 5rem;
    margin-right: 4.5rem;
    color:#3578E5;
    padding-left: 0.5em;
}

/* ----------- nav-left */

.nav-left{
    display:flex;
    align-items: center;

}

.nav-left li a {
    color: gray;
}

.nav-left li a:focus {
    color: #3578E5;
    padding-bottom: 1.5em;
    border-bottom: 4px solid #3578E5;

}

.nav-left ul li{
    list-style:none;
    display:inline-block;
}

.nav-left ul li a i{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1.5em;

}


/* ----------- nav-right */

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right .nav-user-icon{
    margin-left: 3em;
}

.nav-right .nav-user-icon img{
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    cursor:pointer;
}

.nav-right .search-box{
    background: #efefef;
    width: 35rem;
    border-radius: 20px;
    display:flex;
    align-items: center;
    padding: 0 1.5em;
}

.nav-right .search-box i{
    font-size: 1.8rem;
}

.nav-right .search-box input{
    width: 100%;
    background: transparent;
    padding:1em;
    outline:none;
    border:0;
}

.online{
    position: relative;
}

.online::after{
    content:'';
    width: 0.7rem;
    height: 0.7rem;
    border : 2px solid #ffff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top:0;
    right:0;
}

/* ------ header end */

/* -------------- container  */

.container {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 0;
    background: #efefef;
}

/* --- left side bar */
.container .left-sidebar{
    flex-basis:25%;
    position: sticky;
    top: 7rem;
    align-self: flex-start;
    padding-left: 2em;

}

.container .left-sidebar .imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    color : black;
    width : fit-content;
    
}

.container .left-sidebar .imp-links a i{
    font-size: 2.5rem;
    color: #1876f2;
    margin-right: 1.5rem;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}

/* --- main content */
.main-content
{
    flex-basis:46%;

}

.write-post-container{
    width:90%;
    background: #fff;
    padding: 2em;
    border-radius: 6px;
    color: #626262;

}

.user-profile{
    display:flex;
    align-items: center;
}

.user-profile img{
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1em;
}

.user-profile p{
    margin-bottom: -5em;
    font-weight: 500;
    color:#626262;
    font-size: 1rem;
}


.post-input-container{
    padding-left:5.5em;
    padding-top: 2em;

}

.post-input-container textarea{
    width: 100%;
    border:0;
    outline:none;
    border-bottom: 1px solid #ccc;;
    background: transparent;
    resize:none;
}

.post-input-container .save-btn{
    width:20%;
    height:3rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

}

.post-input-container .save-btn:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}


.add-post-links{
    display:flex;
    margin-top: 1rem;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right:0.5em;

}

.add-post-links a:link,
.add-post-links a:visited{
    color:#626262;
}


.add-post-links i{
    font-size: 2rem;
    margin-right:0.5em;
}

.add-post-links .video{
    color: #FA383E;
}

.add-post-links .photo{
    color:#00A400;
}

.feeling{
    color: #F5c33B;
}

.post-container{
    width:90%;
    background: #fff;
    border-radius: 6px;
    padding:2em;
    color: #626262;
    margin: 2em 0;
}

.post-text{
    color: #9a9a9a;
    margin: 1.5em 0;
    font-size: 1rem;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
}

.post-img{
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 4px;
}

.post-row .activity-icons{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.post-row .activity-icons i{
    font-size: 1.8rem;
    margin-right:1em;
}

/* --- right-sidebar */

.container .right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 7rem;
    align-self: flex-start;
    padding: 2em;
    border-radius: 4px;
    color: #626262;

}
.group-con{
    text-align: center;

}
.group-con p{
    font-size: 2.5rem;

}
.group-con span{
    font-size: 1.5rem;
}

.group-con i{
    font-size: 2rem;
}

.load-more-button{
    display: block;
    margin: 5% auto;
    cursor:pointer;
    padding: 0.5em 1em;
    border: 1px solid #626262;
    color: #626262;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

}

.load-more-button:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 1em 0 2em;
    font-size:  1.3rem;
}

.footer p a{
    text-decoration: none;
}

.footer p a:link,
.footer p a:visited{
    color:#9a9a9a;
}

.footer p a:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


@media (max-width: 850px){
    .left-sidebar,
    .right-sidebar{
        display:none;
    }

    .main-content
    {
        flex-basis: 100%;
    }
}

@media (max-width: 780px) and (max-width: 850px) {
    .nav-left ul{
        display:none;
    }

    .nav-right input,
    .nav-right .nav-user-icon,
    .nav-right .online{
        display:none;
    }

    .nav-right{
        width:10%;
        margin-right: 4em;
    }

    .nav-right .search-box{
        margin-right: 4em;
        border-radius: 50%;

    }
    .nav-right i{
        padding: 1em 0;
    }
    
}

@media (max-width: 400px){
    html{
        font-size: 5px;
    }
    .nav{
        width:100%;
    }

    .user-profile p{
        margin-bottom: -5em;
        font-size: 0.1rem;
    }

    .post-text{
        margin: 5em 0;
        font-size: 0.1rem;
    }
}


